.web-news .webshop {
	background-color: var(--bg-green);
	position: relative;
}

/* VERTICAL HEADLINES */
.vertical {
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0;
	font-size: 4.5rem;
	font-weight: 300;
	transform-origin: 0 0;

	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);

	z-index: 90;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
}
.webshop .vertical {
	top: 35%;
	color: white;
}
.news .vertical {
	color: var(--text-blue);
	top: 23%;
}
.brand-lines .vertical {
	top: 43%;
}
.web-news a.link {
	color: var(--deep-blue);
	font-size: 1.5rem;
	text-decoration: underline;
}

.web-news .wrapper {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.web-news .wrapper img {
	width: 40%;
	height: auto;
}
.web-news .wrapper .text {
	padding-left: 30px;
}
.web-news .wrapper h4 {
	color: white;
	font-size: 2.3rem;
	font-weight: 300;
	margin-bottom: 20px;
}
.web-news .wrapper p {
	color: white;
	font-size: 0.95rem;
	font-weight: 300;
	margin-bottom: 20px;
}
.wrapper .text p:nth-child(3) {
	font-size: 1.1rem;
}
.wrapper .text p:nth-child(4) {
	font-size: 1.3rem;
}
.wrapper .text .btn {
	padding: 15px 40px;
	font-size: 0.95rem;
}

.news {
	position: relative;

	padding: 0 100px;
}

.news .wrapper {
	width: 100%;
	height: 85%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.card-body {
	flex: 0 0 48%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: auto;

	margin-bottom: 30px;
}
.card-body .card-img {
	width: 100%;
	height: 50%;
}
.card-body .card-img img {
	width: 100%;
	height: 100%;
}
.card-body .card-text {
	height: 50%;
	background-color: #f3f3f3;
	padding: 0 20px;
}
.card-body .card-text .card-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.card-body .card-text h4 {
	color: var(--deep-blue);
	font-size: 1.2rem;
	font-weight: 400;
}
.card-body .card-text .card-heading p {
	color: var(--deep-blue);
	font-weight: 400;
	font-size: 1rem;
}

.card-body .card-text p {
	color: black;
}
.card-body .card-text a {
	color: var(--deep-blue);
	font-weight: 500;
}
.card-body .card-text .card-heading p,
.card-body .card-text .card-heading h4 {
	margin-bottom: 0px;
	margin-top: 10px;
}
.card-body .card-content p {
	font-size: 0.85rem;
}
.card-content p.subheading {
	font-style: italic;
	color: var(--deep-blue) !important;
	font-size: 0.95rem;
	margin-bottom: 10px;
}
.buttons .btn {
	width: 40%;
	height: 35px;
	font-size: 0.85rem;
	margin-bottom: 10px;
}
.buttons .green {
	background-color: var(--bg-green);
	margin-left: 30px;
	color: var(--deep-blue);
}

@media (max-width: 1602px) {
	.news .wrapper {
		justify-content: center;
	}
	.card-body {
		flex: 0 0 80%;
		display: flex;
		flex-direction: column;
		height: 40%;
	}

	.card-body:nth-child(3),
	.card-body:last-child {
		display: none;
	}
}

@media (max-width: 1380px) {
	nav .logo {
		flex: 0 0 30%;
	}

	nav .dropdown .right {
		flex: 0 0 45%;
	}
	nav .right .socials a {
		margin-right: 10px;
	}
}
@media (max-width: 1250px) {
	nav {
		padding: 15px var(--spacer);
	}
	nav .topnav li {
		margin-right: 30px;
	}
	nav .right .shop p {
		margin-left: 0.5rem;
	}
	/* header {
		height: 70vh;
	} */

	.item h2 {
		color: deepskyblue;
		font-size: 2.5rem;
		font-weight: 300;
		margin-bottom: var(--spacer);
	}
	.item p {
		font-size: 0.8rem;

		letter-spacing: 1.2px;
		margin-bottom: var(--spacer);
	}
	/* SECTIONS */
	section {
		height: 60vh;
	}

	/* health */

	.health article div {
		padding: var(--spacer);
	}
	.health article div p {
		font-size: 0.85rem;
	}
	.health article div h2 {
		margin-bottom: 1rem;
		font-size: 2rem;
		font-weight: 300;
	}
	.health article div h3 {
		margin-bottom: 1rem;
		font-size: 1.8rem;
		font-weight: 300;
		margin-top: 20px;
	}
	.health div img {
		width: 30%;
		height: auto;
	}
	/******************
    WEB-NEWS
	***************/
	.web-news {
		height: auto;
	}
	.vertical {
		font-size: 2.7rem;
	}
	.webshop .vertical {
		top: 45%;
	}
	.webshop .wrapper {
		padding: 20px 0;
	}
	.webshop .wrapper img {
		width: 30%;
		height: auto;
	}
	.news .vertical {
		color: var(--text-blue);
		top: 28%;
	}
	.brand-lines .vertical {
		top: 48%;
	}
	.web-news .wrapper .text {
		padding-left: 20px;
	}
	.web-news .wrapper h4 {
		font-size: 2rem;
		margin-bottom: 10px;
	}
	.web-news .wrapper p {
		color: white;
		font-size: 0.9rem;
		font-weight: 300;
		margin-bottom: 10px;
	}
	.wrapper .text p:nth-child(3) {
		font-size: 1rem;
	}
	.wrapper .text p:nth-child(4) {
		font-size: 1.1rem;
	}
	.wrapper .text .btn {
		margin-top: 15px;
		padding: 10px 35px;
		font-size: 0.85rem;
	}

	/* NEWS */
	.news {
		padding: 0 var(--spacer) 0 calc(var(--spacer) * 2.5);
	}
	.card-body {
		flex: 0 0 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		height: 47%;
	}
	.card-body .card-img {
		display: none;
	}
	.card-body .card-text {
		height: 100%;
		background-color: #f3f3f3;
		padding: 0 20px;
	}
	.card-body .card-heading h4 {
		font-size: 1.5rem;
	}
	.card-body .card-content p {
		color: black;
		font-size: 0.85rem;
	}
	.news a.link {
		font-size: 1.2rem;
	}
	/* BRAND-LINES */
	.brand-lines .right div:nth-child(1) p {
		bottom: 20px;
	}
	.brand-lines .right div:nth-child(3) p {
		color: var(--deep-blue);
		font-size: 0.95rem;
		margin-bottom: 20px;
	}
	.brand-lines .right div:nth-child(3) img:nth-child(2) {
		width: 40%;
		margin-top: 10px;
	}
}

@media (max-width: 1092px) {
	.slide .owl-carousel {
		top: 60%;

		width: 75%;
	}
	.row article h4 {
		font-size: 1.1rem;
		letter-spacing: 1.5px;
	}
	.row article p,
	.row article a,
	.row article ul li {
		font-size: 0.85rem;
		font-weight: 300;
	}
	.row article form input {
		background: var(--deep-blue);
		border: 1px solid var(--text-blue);
		width: 60%;
	}

	.row article form button {
		height: 30px;
		width: 60px;
	}
	.row article form {
		margin-bottom: 50px;
	}
	.row article:last-child a {
		font-size: 0.8rem;
	}
}
@media (max-width: 970px) {
	header > img {
		width: 15%;
		height: auto;
	}

	.slide .item h2 {
		font-size: 2.1rem;
	}
	.health article div h3 {
		margin-bottom: 0.9rem;
		font-size: 1.6rem;

		margin-top: 15px;
	}
	.health article div p {
		font-size: 0.8rem;
	}
}
@media (max-width: 930px) {
	.web-news {
		height: unset;
	}
	.web-news .webshop {
		flex: 0 0 100%;
		padding: 50px 0;
		height: auto;
	}
	.web-news .wrapper .text {
		padding-left: 50px;
	}
	.web-news .news {
		flex: 0 0 100%;
		height: auto;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.web-news .news .wrapper {
		justify-content: space-between;
	}
	.card-body {
		flex: 0 0 48%;
		height: auto;
		margin-bottom: 50px;
	}
	.card-body .card-img {
		display: block;
	}
	.card-content {
		padding-bottom: 20px;
	}
	.card-body:nth-child(3),
	.card-body:last-child {
		display: flex;
	}
	footer .row {
		flex-wrap: wrap;
		justify-content: flex-end;
	}
	footer .row article {
		flex: 0 0 22%;
	}
	footer .row article:last-child {
		flex: 0 0 60%;
		margin-top: 30px;
	}
}
@media (max-width: 786px) {
	header {
		height: 500px;
	}
	header .prduct-left {
		width: 100%;
		/* height: 65vh; */
	}
	header .prduct-left img {
		width: 70%;
		height: auto;
	}
	header .slide {
		width: 100%;
		height: 100%;

		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}
	.slide .owl-carousel {
		position: relative;
		top: 0;
		transform: translate(0, 0);
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-moz-transform: translate(0, 0);
	}
	header > img {
		position: absolute;
		width: 20%;
		left: 50%;
		transform: translate(-50%, 0);
		-webkit-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		-moz-transform: translate(-50%, 0);
	}
	/* HEALT */

	section {
		height: auto;
	}
	section article {
		flex: 0 0 100%;
		/* height: 50vh; */
	}
	.health .right {
		border-top: 1px solid var(--deep-blue);
	}
	.health .right div {
		height: 50%;
	}
	.health .right div img {
		width: 25%;
	}
	.health .left {
		background-image: url(img/morning-img.png);
		background-size: cover;
		background-position: center;
		/* height: 50vh; */
		justify-content: flex-end !important;
	}
	.brand-lines .right {
		/* height: 80vh; */
	}
	.brand-lines .right div {
		height: 50%;
	}
	.brand-lines .right div img {
		width: 40%;
	}
	.brand-lines .right div:nth-child(2) img {
		width: 70%;
	}
	.brand-lines .right div:nth-child(3) img:nth-child(2) {
		width: 30%;
	}
}

/* MOBILES */
@media (max-width: 620px) {
	header {
		height: auto;
	}
	header .prduct-left {
		width: 100%;
		/* height: 55vh; */
	}

	header .prduct-left img {
		width: 80%;
	}
	header .slide {
		width: 100%;
		/* height: 55vh; */
	}
	.slide .owl-carousel {
		width: 95%;
	}
	.health {
		height: auto;
	}
	.health .right {
		height: auto;
	}
	.health .right div img {
		width: 20%;
	}
	.health .left {
		/* height: 50vh; */
	}
	.health .left div {
		flex: 0 0 100%;
		height: 50%;
	}
	.health .right div {
		flex: 0 0 100%;
		/* height: 40vh; */

		flex-wrap: wrap;
	}
	.health .right div:nth-child(2) {
		background-color: var(--bg-blue);
	}
	.health .right div h2 {
		font-size: 3rem;
	}
	.health .right div h3 {
		font-size: 2.2rem;
	}
	.health .right div p {
		font-size: 0.9rem;
	}

	.vertical {
		position: relative;
		font-size: 3.4rem;
		top: none;
		left: none;
		margin-bottom: 50px;

		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
	}
	.news {
		padding: 50px 20px;
	}
	.web-news .wrapper img {
		width: 40%;
	}
	.web-news .wrapper h4 {
		font-size: 2.3rem;
		margin-bottom: 30px;
	}
	.web-news .wrapper {
		width: 100%;
	}

	.card-body {
		flex: 0 0 100%;

		height: 50%;
	}
	.card-body .card-img img {
		width: 100%;
		height: 100%;
	}
	.card-body .card-heading h4 {
		font-size: 1.5rem;
	}
	.brand-lines {
		height: auto;
	}
	.brand-lines .left .vertical {
		position: absolute;
		top: 10px;
		left: 50%;
		transform: translate(-50%, 0);
	}
	.brand-lines .left {
		/* height: 50vh; */
	}
	.brand-lines .left .gray {
		/* height: 25vh; */
	}
	footer .row {
		justify-content: center;
		width: 95%;
	}

	footer .row article:nth-child(1),
	footer .row article:nth-child(2),
	footer .row article:nth-child(3),
	footer .row article:nth-child(4) {
		flex: 0 0 45%;
		margin-bottom: 50px;
	}
	footer .row article:nth-child(5) {
		flex: 0 0 100%;
	}
}
@media (max-width: 380px) {
	.brand-lines .right {
		height: auto;
	}
	.brand-lines .vertical {
		font-size: 3rem;
		width: 100%;
		text-align: center;
	}
	.brand-lines .right div {
		flex: 0 0 100%;
		/* height: 40vh; */
	}
	.brand-lines .text {
		width: 90%;

		padding: 0 30px;
	}
	.brand-lines .text p {
		margin-top: 40px;
	}

	.brand-lines .right div:nth-child(3) .logo-abs {
		width: 25%;
		position: absolute;
		top: unset;
		bottom: 20px;
		right: 20px;
	}
	.brand-lines .left .round-logos {
		width: 100%;
	}
	.round-logos img {
		width: 27%;
		margin-right: 20px;
	}
}
