@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
	--bg-blue: #00b2e3; /* rgb(0,178,227,1)*/
	--text-blue: #64d5ff; /*rgba(100,213,255,1)*/
	--bg-white: #e5e5e5; /*rgba(rgba 0.9, 0.9, 0.9, 1.0)*/
	--deep-blue: #0c5286; /*rgb(12,82,134,1)*/
	--bg-green: #a2d45e; /*rgb(162,212,94,1)*/
	--bg-pink: #ffb98e; /*rgb(255,185,142,1)*/
	--gray-background: #f5f5f5; /*rgba(245,245,245,1)*/
	--font: "Roboto", Arial, Helvetica, "Open Sans";
	--font-size: 16px;
	--spacer: 25px;
	--font-headings: calc(var(--font-size) * 4.5);
	--font-headings2: calc(var(--font-size) * 4);
	--font-headings-diagonal: calc(var(--font-size) * 6.25);

	--border: 1px solid black;
	--transition: 0.5s ease-in-out;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	/* overflow-x: hidden; */
	font-family: var(--font);
	font-size: var(--font-size);
}
ul {
	list-style: none;
}
.unlink {
	text-decoration: none;
}
nav .active {
	color: var(--text-blue) !important;
}

.btn {
	background: var(--deep-blue);
	border: none;
	color: white;

	border-radius: 7px;
	font-size: 1rem;
	letter-spacing: 1.5px;
}

/***********
ANIMACIJE
***********/
