@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
	--bg-blue: #00b2e3; /* rgb(0,178,227,1)*/
	--text-blue: #64d5ff; /*rgba(100,213,255,1)*/
	--bg-white: #e5e5e5; /*rgba(rgba 0.9, 0.9, 0.9, 1.0)*/
	--deep-blue: #0c5286; /*rgb(12,82,134,1)*/
	--bg-green: #a2d45e; /*rgb(162,212,94,1)*/
	--bg-pink: #ffb98e; /*rgb(255,185,142,1)*/
	--black-text: black;
	--gray-background: #f5f5f5; /*rgba(245,245,245,1)*/
	--font: "Roboto", Arial, Helvetica, "Open Sans";
	--font-size: 16px;
	--spacer: 25px;
	--font-headings: calc(var(--font-size) * 4.5);
	--font-headings2: calc(var(--font-size) * 4);
	--font-headings-diagonal: calc(var(--font-size) * 6.25);

	--border: 1px solid black;
	--transition: 0.5s ease-in-out;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	/* overflow-x: hidden; */
	font-family: var(--font);
	font-size: var(--font-size);
	/* overflow-x: hidden; */
}
a {
	text-decoration: none;
	color: white;
}
p {
	color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--bg-blue);
}
ul {
	list-style: none;
}
.unlink {
	text-decoration: none;
}
nav .active {
	color: var(--text-blue) !important;
}

.btn {
	background: var(--deep-blue);
	border: none;
	color: white;

	border-radius: 7px;
	font-size: 1rem;
	letter-spacing: 1.5px;
}
.vertical h2 {
	font-size: 4.5rem;
	font-weight: 300;
	letter-spacing: 2px;
}
.show {
	opacity: 0.95;
}

/***************
       NAV
****************/
nav {
	background-color: var(--bg-blue);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px calc(var(--spacer) * 2);
	position: relative;
	z-index: 100 !important;
}
nav .dropdownLink {
	display: none;
}
.navbar .dropdown {
	display: flex;

	flex: 0 0 70%;
	justify-content: space-between;
	align-items: center;
}
nav .logo {
	flex: 0 0 30%;
	font-size: 1.8rem;
	font-weight: 300;
}
nav .logo img {
	width: 120px;
}

nav .dropdown .topnav {
	display: flex;
	justify-content: center;
	flex: 0 0 50%;
}
nav .topnav li {
	margin-right: 50px;
}
nav .topnav li:last-child {
	margin-right: 0px;
}
nav .right {
	flex: 0 0 40%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
nav .right .socials {
	display: flex;
	align-items: center;
}

nav .right .socials a {
	margin-right: 1rem;
}
nav .right .shop {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav .right .shop p {
	margin-left: 1rem;
	border: 1px solid white;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
}

nav .right .lang span {
	margin: 0 5px;
	color: white !important;
}
/******************
    HEADER
*******************/
header {
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
}
header article {
	width: 50%;
}
header .left {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	/* border: var(--border); */
	position: relative;
}
header .left img {
	width: 100%;
	height: auto;
}
/* LOGO */
header .logo-round {
	position: absolute;
	width: 20%;
	left: 50%;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
}

/* SLIDER */
header .slide {
	position: relative;
	/* border: var(--border); */
}
.slide .owl-carousel {
	width: 60%;
	margin: auto;
	padding: 0 30px;
	opacity: 0;
}

.slide .owl-carousel .item {
	margin: 0 auto 0 auto;
	text-align: center;
}

.item h2 {
	color: deepskyblue;
	font-size: 3.5rem;
	font-weight: 300;
	margin-bottom: calc(var(--spacer) * 2);
}
.item p {
	font-size: 0.85rem;
	color: var(--black-text);
	letter-spacing: 1.3px;
	margin-bottom: calc(var(--spacer) * 2);
}
.slide .owl-carousel .item .btn {
	padding: 15px 30px;
	font-size: 0.9rem;
}
.slide .owl-carousel .owl-dots {
	margin-top: 50px !important;
}
header .left .float-bg {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: var(--bg-blue);
	transform: translate(100%, 0);
}

/******************
    HEALTH
*******************/

section {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.box-art article {
	flex: 0 0 50%;

	position: relative;
}
.box-art article::after {
	display: block;
	padding-top: 100%;
	content: "";
}
.box-art .square-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: end;
	justify-content: flex-end;
}
.box {
	flex: 0 0 50%;
	position: relative;
}
.box::after {
	display: block;
	content: "";
	padding-top: 100%;
}
.box .content {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 20px;
	text-align: center;
}
.health .right {
	background-image: url(img/morning-img.png);
	background-size: cover;
	background-position: center;
}
.content h2,
.content h3,
.content p {
	color: var(--deep-blue);
}
.content h2 {
	font-size: 2.5rem;
	font-weight: 400;
	margin-bottom: 20px;
}
.content h3 {
	font-size: 2.2rem;
	margin-bottom: 20px;
}
.content p {
	font-size: 0.95rem;
}
.content img {
	width: 25%;
}
.blue {
	background-color: var(--deep-blue);
}
.blue .content h2,
.blue .content p {
	color: white;
}
.right .box {
	background-color: rgba(255, 255, 255, 0.5);
}

/******************
    WEB-NEWS
*******************/
.web-news {
	height: auto;
	background: var(--bg-green);
}
.web-news article {
	flex: 0 0 50%;
	height: 100%;
}
.webshop {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.webshop .wrapper {
	display: flex;
	width: 80%;
	height: 100%;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.webshop .wrapper img {
	flex: 0 0 45%;
	width: 25%;
}
.webshop .wrapper .text {
	height: 100%;
	padding-left: 20px;
	flex: 0 0 50%;
}
.webshop .wrapper .text h3 {
	color: white;
	font-size: 2.2rem;
	font-weight: 300;
	margin-bottom: 20px;
}
.wrapper .text p {
	margin-bottom: 20px;
	font-size: 0.9;
	font-weight: 300;
}

.wrapper .text p:nth-child(3) {
	font-size: 1.1rem;
	font-weight: 400;
	margin-bottom: 10px;
}
.wrapper .text p:nth-child(4) {
	font-size: 1.2rem;
	font-weight: 400;
	margin-bottom: 30px;
}

.wrapper .text .btn {
	padding: 15px 40px;
	font-size: 0.95rem;
}
.webshop .vertical {
	padding: 10px;
	top: 35%;
}
.webshop .vertical h2 {
	color: white;
}

.vertical {
	position: absolute;

	top: 0;
	left: 0;
	font-size: 4.5rem;
	font-weight: 300;
	transform-origin: 0 0;

	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);

	z-index: 90;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
}
/* news */
.news {
	padding: 50px 100px 0 100px;
	position: relative;
	background-color: white;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.news a {
	color: var(--deep-blue);
}
.news > a {
	padding-bottom: 30px;
	font-size: 1.5rem;
}
.news .vertical {
	top: 26%;
}
.news .vertical h2 {
	color: var(--bg-blue);
}
.news .wrapper {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	justify-content: space-between;
}
.card {
	flex: 0 0 48%;
	margin-bottom: 30px;
}
.card-body {
	background: var(--gray-background);
	padding: 20px;
}
.card:nth-child(5),
.card:nth-child(6) {
	display: none;
}
.card-img img {
	display: block;
	width: 100%;
}
.card-headlines {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.card-headlines h4 {
	font-size: 1.7rem;
	font-weight: 400;
	color: var(--deep-blue);
}
.card-headlines p {
	font-size: 0.95rem;
	font-weight: 400;
	color: var(--deep-blue);
}

.card-text p.subtitle {
	color: var(--deep-blue);
	font-style: italic;
	font-size: 0.95rem;
	font-weight: 300;
	margin-bottom: 10px;
}
.card-text p:nth-child(2) {
	color: black;
	font-size: 0.85rem;
	margin-bottom: 20px;
}
.card-text .btn {
	width: 40%;
	height: 35px;
	font-size: 0.85rem;
}
.card-text .green {
	background-color: var(--bg-green);
	margin-left: 30px;
	color: var(--deep-blue);
}
/******************
    BRAND-LINES
*******************/

.round-logos {
	width: 85%;
	z-index: 99;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.round-logos img {
	width: 25%;
}
.gray {
	height: 50%;
	width: 100%;
	background-color: var(--gray-background);
	position: absolute;
	top: 0;
	z-index: 1;
}
.brand-lines .vertical {
	top: 45%;
}
.brand-lines .left {
	position: relative;
}

.brand-lines .left p {
	color: var(--deep-blue);
	width: 70%;
	text-align: center;
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translate(-50%, 0);
	font-size: 0.85rem;
}
.left .square-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.brand-lines .box .float {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.one {
	z-index: 1;
}
.one img {
	width: 50%;
}
.one p {
	position: absolute;
	bottom: 50px;
}
.one .float {
	background-color: var(--bg-blue);
}
.two img:first-child {
	width: 90%;
}
.two .logo-abs {
	position: absolute;
	bottom: 15px;
	right: 15px;
}
.three .float {
	background-color: var(--gray-background);
}
.three img {
	width: 40%;
}
.three .logo-abs {
	position: absolute;
	width: 25%;
	top: 15px;
	right: 15px;
}
.four {
	color: var(--deep-blue);
	z-index: 1;
}
.four .float {
	background-color: var(--bg-green);
}
.four blockquote {
	font-size: 0.8rem;
}
.four span {
	color: var(--bg-blue);
	font-size: 2rem;
}

/******************
    FOOTER
*******************/

footer {
	background-color: var(--deep-blue);
	margin-top: 50px;
}
.row {
	width: 80%;

	margin: 0 auto;
	display: flex;
	padding: 100px 0 50px 0;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: space-between;
}
footer .row article {
	line-height: 1.5;
}
.row article h4 {
	color: white;
	font-size: 1.2rem;
	margin-bottom: 20px;
}
.row article p,
.row article a,
.row article ul li {
	color: white;
	letter-spacing: 1px;
	font-size: 0.95rem;
	font-weight: 300;
	text-decoration: none;
}
.row article div a.blue {
	color: var(--text-blue) !important;
}
.row article div a.blue span {
	color: white;
}
.row article {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 20px;
}
.underline {
	text-decoration: underline !important;
}
.row article div {
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.row article:nth-child(3),
.row article:nth-child(4) {
	justify-content: unset;
}
.row article form input {
	background: var(--deep-blue);
	border: 1px solid var(--text-blue);
	width: 70%;
	height: 30px;
	padding: 0 20px;
	color: var(--text-blue);
	margin-top: 20px;
}
.row article form input:focus {
	border: none;
}
.row article form button {
	height: 30px;
	width: 80px;
	background: transparent;
	border: 1px solid var(--text-blue);
	border-left: none;
	color: var(--text-blue);
}

/* RESPONSIVE */

@media (max-width: 1650px) {
	.item h2 {
		color: deepskyblue;
		font-size: 3rem;
		font-weight: 300;
		margin-bottom: calc(var(--spacer) * 2);
	}
	.card-headlines h4 {
		font-size: 1.5rem;
		font-weight: 400;
		color: var(--deep-blue);
	}
	.card-headlines p {
		font-size: 0.9rem;
		font-weight: 400;
		color: var(--deep-blue);
	}
	.brand-lines .vertical {
		top: 43%;
	}
	.brand-lines .vertical h2 {
		font-size: 3.6rem;
	}
}

@media (max-width: 1380px) {
	.vertical h2 {
		font-size: 3.5rem;
	}
	.webshop .vertical {
		padding: 10px;
		top: 45%;
	}
	.web-news article {
		flex: 0 0 100%;
	}
	.webshop .wrapper {
		display: flex;
		width: 70%;
		/* height: 100%; */
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		margin: 100px 0;
	}
	.news .wrapper {
		justify-content: space-around;
	}
	.news .vertical {
		top: 20%;
	}
	.card {
		flex: 0 0 32%;
		margin-bottom: 20px;
	}
	.card:nth-child(5),
	.card:nth-child(6) {
		display: block;
	}
	.webshop .wrapper img {
		flex: 0 0 30%;
		width: 15%;
	}
	.webshop .wrapper .text {
		height: 100%;

		flex: 0 0 55%;
	}

	.webshop .wrapper .text h3 {
		color: white;
		font-size: 2.5rem;
		font-weight: 300;
		margin-bottom: 20px;
	}
	.wrapper .text p {
		margin-bottom: 20px;
		font-size: 1rem;
		font-weight: 300;
	}

	.wrapper .text p:nth-child(3) {
		font-size: 1.1rem;
		font-weight: 400;
		margin-bottom: 10px;
	}
	.wrapper .text p:nth-child(4) {
		font-size: 1.2rem;
		font-weight: 400;
		margin-bottom: 30px;
	}

	.wrapper .text .btn {
		padding: 15px 40px;
		font-size: 0.95rem;
	}
	.brand-lines .vertical {
		top: 45%;
	}
	.brand-lines .vertical h2 {
		font-size: 3.4rem;
	}
}

/* NAVBAR RESPONSIVE */

@media (max-width: 1290px) {
	.navbar {
		z-index: 100 !important;
	}
	nav.navbar .dropdown {
		position: absolute;
		background: var(--bg-blue);
		z-index: -100 !important;
		right: 0;
		top: 68px;
		width: 100%;
		height: 40vh;
		z-index: -100 !important;
		padding: var(--spacer) var(--spacer);
		flex-direction: row;
		opacity: 0;
		transform: translateX(46%) translateY(-50%) scale(0);
		transition: all 0.5s ease-in-out;
	}
	.dropdown-active {
		transform: translateX(0) translateY(0) scale(1) !important;
		opacity: 1 !important;
	}
	nav .dropdown .topnav {
		flex-direction: column;

		font-size: 1.3rem;
		height: 60%;
		justify-content: space-around;
		align-items: center;
		/* border: var(--border); */
	}
	nav .dropdown .topnav li {
		margin-right: 0 !important;
		opacity: 1;
	}
	nav .dropdown .right {
		flex-direction: column;
		height: 60%;

		/* border: var(--border); */
	}
	.navbar .dropdownLink {
		display: block;
		font-size: 1.5rem;
	}
	.navbar .logo {
		text-align: center;
		flex: 0 0 80%;
		margin: 0 auto;
	}
	.slide .owl-carousel {
		width: 75%;
	}

	header .logo-round {
		position: absolute;
		width: 15%;
	}
	.item h2 {
		font-size: 2.5rem;

		margin-bottom: calc(var(--spacer) * 1.5);
	}
	.slide .owl-carousel .owl-dots {
		margin-top: 30px !important;
	}
	.brand-lines .vertical {
		top: 46%;
	}
	.brand-lines .vertical h2 {
		font-size: 3.2rem;
	}
	footer .row {
		width: 95%;
	}
}

@media (max-width: 1150px) {
	.content h2 {
		font-size: 2rem;
	}
	.content p {
		font-size: 0.85rem;
	}
	.content h3 {
		font-size: 1.8rem;
	}
	.brand-lines .vertical {
		top: 48%;
	}
	.brand-lines .vertical h2 {
		font-size: 3rem;
	}
}
@media (max-width: 1024px) {
	.brand-lines .vertical {
		top: 80%;
	}
}

@media (max-width: 890px) {
	header article {
		flex: 0 0 100%;
	}
	header .left img {
		width: 50%;
	}
	header .logo-round {
		display: none;
	}
	header .slide {
		margin: 50px 0;
	}
	header .left .float-bg {
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		background: var(--bg-blue);
		transform: translateY(100%);
	}
	.box-art article {
		flex: 0 0 100%;
	}
}
